<!-- start showcase -->
<section class="box">
<article id="container">
  <section class="breadcrumb">
    <ul>
      <li class="first"><a href="#" title="Home"><%= image_tag 'ic_home.png', :alt => 'home'  %> </a></li>
      <li><a href="#" title="Performances">Performances</a></li>
    </ul>
    <section class="clear"></section>
  </section>
  <!-- end breadcrumb -->
  <!-- start featured-col -->
  <section class="featured-col">
    <h3 class="title">Featured performances</h3>
    <section class="icons">&nbsp;</section>
    <section class="perfomance-block">
      <%= image_tag 'img_perfomance.jpg', :alt => 'img', :class => 'left' %>
      <section class="imgb2 left"><span class="caption">Saturday night life</span><%= image_tag 'img_perfomance2.jpg', :alt => 'img' %></section>
      <section class="imgb3 left"><span class="caption">bomboox</span><%= image_tag  'img_perfomance3.jpg', :alt => 'img' %></section>
      <section class="imgb4 left"><span class="caption">natch d</span><%= image_tag 'img_perfomance4.jpg', :alt => 'img' %></section>
    </section>
  </section>
  <!-- end featured-col -->
  <section class="clear"></section>
  <!-- start video-block -->
  <section class="video-block second">
    <h3 class="title">Top shows <a href="#" title="view all">(view all)</a></h3>
    <ul class="list1">
      <li>
        <a href="#" title="Video" class="video">Video</a>
        <%= image_tag 'img_video.jpg', :alt => 'video' %>
        <p>Watch now: <a href="#" title="Cobra Starship Feat. Fall out boy">Cobra Starship Feat. Fall out boy</a></p>
      </li>
      <li>
        <a href="#" title="Video" class="video">Video</a>
        <%= image_tag 'img_video2.jpg', :alt => 'video"' %>
        <p>Watch now: <a href="#" title="Lykke Li live on Denmark">Lykke Li live on Denmark</a></p>
      </li>
      <li class="last">
        <a href="#" title="Video" class="video">Video</a>
        <%= image_tag 'img_video3.jpg', :alt => 'video' %>
        <p>Watch now: <a href="#" title="Drake love in Washington DC">Drake love in Washington DC</a></p>
      </li>
    </ul>
    <section class="clear"></section>
  </section>
  <!-- end video-block -->
  <section class="clear"></section>
  <!-- start video-block -->
  <section class="video-block second">
    <h3 class="title">New performances <a href="#" title="view all">(view all)</a></h3>
    <ul class="list1">
      <li>
        <a href="#" title="Video" class="video">Video</a>
        <%= image_tag 'img_video.jpg', :alt => 'video' %>
        <p>Watch now: <a href="#" title="Cobra Starship Feat. Fall out boy">Cobra Starship Feat. Fall out boy</a></p>
      </li>
      <li>
        <a href="#" title="Video" class="video">Video</a>
        <%= image_tag 'img_video2.jpg', :alt => 'video' %>
        <p>Watch now: <a href="#" title="Lykke Li live on Denmark">Lykke Li live on Denmark</a></p>
      </li>
      <li class="last">
        <a href="#" title="Video" class="video">Video</a>
        <%= image_tag 'img_video3.jpg', :alt => 'video' %>
        <p>Watch now: <a href="#" title="Drake love in Washington DC">Drake love in Washington DC</a></p>
      </li>
    </ul>
    <section class="clear"></section>
  </section>
  <!-- end video-block -->
  <!-- start arrow-button -->
  <section class="arrow-button">
    <a href="#" title="Next Performers" class="right">Next Performers<span></span></a>
    <a href="#" title="Previous Performers" class="left"><span></span>Previous Performers</a>
  </section>
  <!-- end arrow-button -->
  <section class="clear"></section>
  <!-- start bottom-link -->
  <nav class="bottom-link">
    <ul>
      <li>random performers:</li>
      <li><a href="#" title="SNL Club">SNL Club</a></li>
      <li>/</li>
      <li><a href="#" title="Lykke Li">Lykke Li</a></li>
      <li>/</li>
      <li><a href="#" title="Kanye west">Kanye west</a></li>
      <li>/</li>
      <li><a href="#" title="Theatre club">Theatre club</a></li>
      <li>/</li>
      <li><a href="#" title="Comedy Club">Comedy Club</a></li>
      <li>/</li>
      <li><a href="#" title="Björk">Björk</a></li>
      <li>/</li>
      <li><a href="#" title="Parrell Williams">Parrell Williams</a></li>
      <li>/</li>
      <li><a href="#" title="GOW">GOW</a></li>
      <li>/</li>
      <li><a href="#" title="Lykke Li">Lykke Li</a></li>
    </ul>
    <section class="clear"></section>
  </nav>
  <!-- end bottom-link -->
  </section>
</article>
</section>